.product-list {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;

  h1 {
    font-size: 2.2rem;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 10px;
  }

  p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
  }

  .filter {
    margin-bottom: 20px;

    label {
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.8);
      margin-right: 8px;
      outline: none;
    }

    select {
      padding: 8px;
      border-radius: 4px;
      border: 1px solid #010101;
      outline: none;
    }
  }

  .products {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .see-more {
    padding: 10px 20px;
    margin-top: 20px;
    background: #fff;
    color: #DC780B;
    border: 1px solid #DC780B;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  .see-more:hover {
    background: #DC780B;
    color: #fff;
  }
}

.product-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 366px;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  h3 {
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.85);
    margin-bottom: 8px;
  }

  p {
    color: rgba(0, 0, 0, 0.65);
    font-size: 1rem;
  }

  .price {
    font-size: 1.5rem;
    font-weight: 600;
    color: #DC780B;
    margin-top: 8px;
  }
}

