.product-card {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  overflow: hidden;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &:hover {
    transform: scale(1.0007);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 20px;
  }

  h2 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: black;
    margin-bottom: 12px;
  }

  p {
    font-size: 14px;
    color: #222;
    opacity: 80%;
    margin-bottom: 20px;
  }
  .category__bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    button{
      padding: 10px 15px;
      font-size: 20px;
      font-weight: 800;
      color: #fff;
      background-color: #DC780B;
      border: none;
      border-radius: 4px;
    }
  }

  .price {
    font-size: 18px;
    font-weight: bold;
    color: #DC780B;
    margin-top: 8px;
  }
}

.category {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.9);  
  font-weight: 500;
  margin-bottom: 8px;
}
